.col{
    border:1px solid black;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

